:root{
  --right-dashboard-background: #f7f7ff;
  --right-dashboard-inputs-background: #e3e3ed;
  --right-dashboard-inputs-text: black;
  --app-background: #252a40;
  --all-users: #fb34a9;
  --male-users: #2bbeb4;
  --female-users: #7745c8;
}

.App {
  background: var(--app-background);
  width: 100vw;
  height: 100vh;
  display: flex;
}
@media screen and (max-width: 993px){
  .App{
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-bottom: 50px;
  }
}

*{
  font-family: "Adobe Clean", sans-serif !important;
  transition: all .3s;
}
a, li, input{
  font-family: "Adobe Clean", sans-serif !important;
}
li{
  font-size: .9em !important;
}
