.DashboardRight{
    width: 45vw;
    background: var(--right-dashboard-background);
    padding: 20px 50px;
    margin: 15px 15px 15px auto;
    border-radius: 20px;
    position: relative;
}
.DashboardRight_header > h2{
    margin-bottom: 10px;
}
.DashboardRight_header > p{
    font-size: .7em;
    margin: 10px 0;
}
.DashboardRight_header > .inputs{
    display: flex;
    justify-content: space-between;
}
.inputs > div{
    margin-right: 20px !important;
}
.inputs > div:first-of-type{
    border: none;
    background: var(--right-dashboard-inputs-background);
    color: grey;
    padding: 7px 15px;
    display: flex;
    align-items: center;
    border-radius: 35px;
    width: 60%;
}
.inputs > div:first-of-type > input{
    background: none;
    outline: none;
    border: none;
    margin-left: 10px;
    color: grey;
    font-size: .8em;
    width: 100%;
    margin-top: 5px;
}
#hide{
    width: 0;
    opacity: 0;
    margin-right: 0 !important;
    padding: 0;
}
.DashboardRight_header .MuiFormControl-root{
    background: var(--right-dashboard-inputs-background);
    border-radius: 20px;
    width: 30%;
    padding: 0 20px;
}
.DashboardRight_header .MuiFormControl-root > .MuiInput-root{
    font-size: .8em !important;
    color: black;
    text-align: center;
    height: 100%;
    font-family: "Adobe Clean", sans-serif;
}
.DashboardRight_header .MuiInput-root > .MuiInput-input{
    margin-top: 5px;
}
.DashboardRight_header .MuiInput-underline:before,
.DashboardRight_header .MuiInput-underline:after,
.DashboardRight_header .MuiInput-underline:hover::before,
.DashboardRight_header .MuiInput-underline:hover::after{
    border: none !important;
}
.DashboardRight_header .MuiSelect-select:focus{
    background: none;
}
.DashboardRight_header .MuiFormControlLabel-root{
    transform: scale(.9);
}
.DashboardRight_header .Mui-checked + .MuiSwitch-track{
    background: #11af80 !important;
}
.DashboardRight_header .MuiFormControlLabel-root > .MuiTypography-root{
    font-size: .8em;
    font-family: "Adobe Clean", sans-serif;
    margin-top: 5px;
}

/* Right dashboard footer */
.DashboardRight_footer{
    background: inherit;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.DashboardRight_footer > div:first-of-type > a{
    border-radius: 40px;
    display: flex;
    align-items: center;
    background: var(--female-users);
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    font-size: .8em;
}
.DashboardRight_footer > div:first-of-type > a:hover{
    background: var(--right-dashboard-inputs-background);
    color: var(--right-dashboard-inputs-text);
}
.DashboardRight_footer > div:first-of-type > a .text{
    display: block;
    margin-top: 5px;
    margin-left: 10px;
}
.DashboardRight_footer > div:nth-of-type(2) > .MuiSvgIcon-root{
    padding: 10px;
    font-size: .8em;
    background: var(--app-background);
    color: white;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
}
.DashboardRight_footer > div:nth-of-type(2) > .MuiSvgIcon-root.disabled,
.DashboardRight_footer > div:nth-of-type(2) > .MuiSvgIcon-root:hover{
    background: var(--right-dashboard-inputs-background);
    color: var(--right-dashboard-inputs-text);
}