.Users{
    flex: 1;
    margin-top: 20px;
    margin-bottom: auto;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}
.Users.enter{
    animation: users-enter .2s forwards;
}
.Users.exit{
    animation: users-exit .3s forwards;
}
@keyframes users-enter{
    0%{
        opacity: 0;
        transform: translateY(-100px)
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
@keyframes users-exit{
    0%{
        opacity: 1;
        transform: translateY(0px);
    }
    100%{
        opacity: 0;
        transform: translateY(-100px)
    }
}
.Users > .MuiPaper-root{
    display: flex;
    align-items: center;
    padding: 15px 20px;
    margin: 20px 10px;
    border-radius: 10px;
    background-color: rgba(144, 238, 144, 0.107);
}
.Users .img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 5px solid var(--male-users);
}
.Users .img > img{
    width: 100%;
    border-radius: 50%;
}

.Users .details{
    margin-left: 20px;
    flex: 1;
    font-size: .8em;
}
.Users .details p{
    margin: 5px;
}
.Users .details > div{
    display: flex;
    font-weight: 300;
    color: rgb(163, 162, 162);
    flex-wrap: wrap;
}
.Users .details > div > p{
    display: flex;
    align-items: center;
    margin-right: 30px;
    flex: 1;
}
.Users .details > div > p > .MuiSvgIcon-root{
    margin-right: 5px;
    font-size: 1.3em;
    margin-bottom: 2px;
}
.Users .name{
    font-weight: bold;
    font-size: 1.2em;
}
.Users .address{
    font-style: italic;
}

.Users > .MuiPaper-root > div > .MuiSvgIcon-root{
    padding: 7px;
    border-radius: 10px;
    width: 25px;
    height: 25px;
    margin-top: 100%;
    background: var(--male-users);
    color: white;
    box-shadow: 0px 3px 5px -1px rgba(43, 190, 180, 0.404), 0px 5px 8px 0px rgba(43, 190, 180, 0.274), 0px 1px 14px 0px rgba(43, 190, 180, 0.247);
}
.Users > .MuiPaper-root > div > .MuiSvgIcon-root:hover{
    color: var(--right-dashboard-inputs-text);
    background: var(--right-dashboard-inputs-background);
    box-shadow: inset 0px 3px 5px -1px rgba(0,0,0,0.2), inset 0px 5px 8px 0px rgba(0,0,0,0.14), inset 0px 1px 14px 0px rgba(0,0,0,0.12);
    cursor: pointer;
}


/* Single user styling */
/* Moved to User component */
   


/* Media Queries */
@media screen and (max-width: 497px){
    .Users > .MuiPaper-root{
        flex-direction: column;
    }
    .Users > .MuiPaper-root > div:nth-of-type(3) {
        margin-top: -30px;
        margin-left: auto;
    }
    .Users > .MuiPaper-root > div:nth-of-type(3) > .MuiSvgIcon-root{
        margin-top: 0;
    }
    .Users .details{
        text-align: center;
        margin: 0;
    }
    .Users .details > div{
        flex-direction: column;
    }
}
